%ul.table-view
  - @battles.each do |battle|
    %li.table-view-cell
      = battle.opponent(current_user).name
      .pull-right
        - if battle.active?
          = link_to 'Continue', battle, class: 'btn btn-positive'
        - else
          - if battle.winner == current_user
            Winner
          - elsif battle.loser == current_user
            Loser
          - else
            Draw
